header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header-text {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	height: 70vh;
	background-image: url('../assets/img/photo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
	padding-bottom: 2rem;
	filter: grayscale(1);
}

header h1 {
	font-size: 8rem;
	mix-blend-mode: difference;
}

header h2 {
	letter-spacing: 1.25rem;
	font-size: 2.5rem;
}

.shortcuts {
	display: flex;
	align-items: center;
	width: 50%;
	justify-content: space-between;
	margin-top: 2rem;
}

.shortcut {
	width: 3rem;
	color: var(--secondary);
}