/* Navbar */

.navbar {
    position: fixed;
    background-color: var(--primary);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--secondary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.nav-link:hover {
    background: var(--primary-3);
}

.nav-link>span {
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    margin: 0 1.5rem;
    rotate: 0deg;
    transition: .4s cubic-bezier(.45, .05, .55, .95);
}

.nav-link:hover svg {
    rotate: 360deg;
}

#navbar-button {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-color: var(--primary-3);
    border-radius: 10px;
}

#nav-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-button svg {
    pointer-events: none;
    transition: var(--transition-speed)
}

#nav-button svg.fa-times {
    display: none;
}

@media only screen and (max-width: 900px) {
    .navbar {
        display: none;
        top: 0;
        width: 100vw;
        height: 100%;
    }
    .navbar-nav {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    .nav-item {
        width: 62.5%;
        display: flex;
        border-bottom: 1px solid;
    }
    .nav-link {
        margin: 0 2rem 0 2rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .link-text {
        display: block;
    }
    #navbar-button {
        display: block;
    }
}

@media only screen and (min-width: 900px) {
    .navbar {
        width: 5rem;
        height: 100vh;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .nav-link:hover {
        margin-right: -1.5rem;
        border-radius: 0px 10px 10px 0px;
    }
    .navbar:hover {
        width: 16rem;
    }
    .nav-link:hover>span {
        transform: translateX(0.5rem);
    }
    .navbar:hover .link-text {
        display: block;
    }
}