@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --background: #0D0D0D;
    --gray: #131313;
    --primary: #ff4d4d;
    --secondary: #ffffff;
    --anim: .2s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--secondary);
    font-family: 'Montserrat', sans-serif;
}

h1 {
	margin: 0;
}

hr {
    width: 60%;
}

a {
    color: var(--secondary);
    transition: var(--anim);
}

a:hover {
    color: var(--primary);
}

svg {
    pointer-events: none;
}

.nav-list {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.nav-item {
    list-style: none;
}

.nav-item:nth-child(1) {
    flex: 1;
}

.nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
}

.zoom:hover {
    cursor: zoom-in;
}

section {
	min-height: 100vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.no-height {
    min-height: unset;
}

section h1 {
    width: 100%;
    text-transform: capitalize;
    font-size: 4rem;
    -webkit-text-stroke: 1px var(--secondary);
    color: transparent;
    margin-bottom: 1rem;
}

section p {
	text-align: justify;
	width: 75ch;
	text-indent: 2rem;
	margin: 0;
}