/* Dessin Académique */

.main {
    justify-content: start;
}

.content {
    justify-content: start;
    flex-direction: column;
    width: auto;
}

.presentation {
    margin: 0;
}

.collections {
    width: 100%;
}

.collection h1 {
    text-transform: capitalize;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    padding: 50px;
    gap: 1rem;
}

@media only screen and (max-width: 900px) {}

@media only screen and (min-width: 900px) {
    .content {
        padding: 3rem;
    }
}